/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
#page-wrap {
width: 800px;
margin: 0 auto;
}

body {
background-color: pink;
width: 500px;
height: 50px;
margin:20px;
}  
  
ul li {
float: right;
display: inline-table;
margin: 10px;;
width: 200;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.image {
position: static;
width: 1000px;
}

.image p {
text-align: center;
position: absolute;
top: 300px;
width: 60%;
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.wrapper h1 { 
text-align-last: center;
top: 100px;
width:100%;
color: black;
text-decoration: underline #00B172;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.colums {
display: flex;
flex-direction: row;
flex-wrap:wrap;
width: 100%;
}

.colums img {
display: block;
margin-left: auto;
margin-right: auto;
width: 35%
}

.colum {
flex: 33.33%
}

.colums h3 {
color: #00B172;
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.colums p {
text-align: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.rows {
background-color: #00B172;
height: 300%;
width: 300%;
top: 10;
padding-top: 100px
}

.row {
background-color: #00B172;
width: 100%;
float: right;
}

.row {
background-color: #00B172;
width: 100%;
float: left;
}

.row h3 {
color: white;
text-align: justify-all;
text-decoration: underline white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
width:15%;
margin: 1% 1%;
}

.row h4 {
font-family:Verdana, Geneva, Tahoma, sans-serif;  
color: white;
text-align: justify;
width:15%;
margin: 1% 1%;
}

.row p {
font-family:Verdana, Geneva, Tahoma, sans-serif;  
color: white;
text-align: justify;
width:15%;
margin: 1% 1%;
}

